global-include *.pyx
global-include *.pxd
global-include *.c
global-include *.cpp
global-include *.h
global-include *.hpp
global-include *.py
graft third-party
include README INSTALL CHANGELOG LICENSE AUTHORS SUMMARY.txt
include setup.py
include gdee/data/*
global-exclude *.pyc
global-exclude *.pyo
global-exclude *.pyd
